@media screen and (max-width: 992px){
body{
    text-align: center;
    background-color: #f8f8f9;
}
}
form{
    margin: auto;
    width: 500px;
}
button{
    color: #FFFFFF;
    background: #11939a;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    text-align: left;
    margin-top: 20px;
    outline: none;
    border: none;
}
label{
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 14px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
select{
    box-sizing: border-box;
    padding: 15px;
    display: inline-block;
}
input{
    box-sizing: border-box;
    padding: 10px;
    height: 50px;
    width: 100%;
    font-size: 15px;
    border-color: none; 
}
.promo a{
    color: #11939a;
    display: block;
    text-align: left;
    margin-top: 10px;
}
p{
    font-size: 12px;
    display: block;
    width: 100%;
    text-align: left;
}
.logo p{
    background: black;
    text-align: center;
    width: 100px;
    color: white;
    height: 50px;
    padding: 20px;
    border: 3px solid;
    margin-left: 600px;
    display: block;
}
.uber{
    text-align: center;
    font-size: 25px;
}

h1{
    text-align: center;
    font-size: 30px;
    display: block;
    font-weight: 350;
}
h2{
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: 300;
}
.code{
    width: 75px;
}
a{
    text-decoration: none;
    color: #11939a;
}
.name1, .name2{
    display: block;
    width: 48%;
}
.name2{
    float: right;
    margin-top: -81px;
}
.contact input{
    width: 85%;
}

